.input_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 20.3px;
    font-size: 14px;
    color: #2d2d2d;
    margin-bottom: 20px;

    &__btn {
        width: auto;
        position: absolute;
        background: none;
        border: none;
        right: 10px;
        cursor: pointer;
        margin-top: 38px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        outline: none;
        font-weight: 600;
        letter-spacing: 12%;

        p {
            margin: 0;
            color: black;
            font-size: 12px;
        }
    }
}

.input_container label {
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 12px;
}

.input_container input {
    background-color: white;
    padding: 12px 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: rgb(246, 150, 27);

    &:focus {
        border: 1px solid rgb(246, 150, 27);
        outline: none;
    }
}

.error {
    font-size: 14px;
    color: red;
}