.select_container {
    select {
        width: 100%;
        padding: 12px 12px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        // margin-bottom: 20px;
        outline: none;

        &:focus {
            border: 1px solid rgb(246, 150, 27);
            outline: none;
        }
    }

    p {
        font-size: 12px;
        margin-bottom: 8px;
        color: #212529;

    }
}