@import '../../styles/responsive.scss';

.dashboard-w1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: auto;
    justify-content: flex-end;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    position: relative;
    align-items: center;
    padding: 30px 20px;

    @include min {
        padding: 25px 10px;
    }

    &__btn {
        margin-top: 16px;
    }
}

.dashboard-w1:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.dashboard-w1 .icon {
    position: absolute;
    bottom: 0;
    left: 0;
}

.dashboard-w1 .icon i {
    font-size: 72px;
    color: rgba(255, 255, 255, 0.15);
    margin-left: -15px;
    margin-bottom: -4px;
}

.dashboard-w1 .details {
    text-align: right;

    a {
        background-color: #ffffff;
        padding: 7px 10px;
        font-size: 14px;
        text-decoration: none;
        color: #212529;
        border-radius: 5px;
    }
}

.dashboard-w1 .details .status,
.dashboard-w1 .details .amount,
.dashboard-w1 .details .currency-sign {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}

.desciption {
    margin: 5px 0 15px 0 !important;

    span {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;

    }
}

.aggregate-count-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    @include sm {
        flex-direction: column;
        gap: unset;
    }

    @include md {
        flex-direction: column;
        gap: unset;
    }
}

.aggregate_card {
    flex: 1 0;
    /* This makes the card grow to fill the space equally */
    max-width: calc(33.33% - 20px);
    border-radius: 10px;
    margin-bottom: 30px;

    @include sm {
        max-width: 100%;
        margin-bottom: 25px;
    }

    @include md {
        max-width: 100%;
        margin-bottom: 25px;
    }
}

.deposit_count {
    flex: 1;

    &__total {
        background-color: #28c76f !important;
        padding: 30px 30px;
        border-radius: 5px;
        margin-bottom: 30px;
        text-align: center;

        p {
            color: #ffff;

            &:first-child {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.4;
            }

            &:last-child {
                font-size: 12px;
            }
        }

        &__deposut {
            margin-top: 30px;
        }
    }

    &__pending {
        background-color: #ffffff !important;
        padding: 30px 30px;
        transition: all 0.3s;
        box-shadow: 0 0.5rem 1rem rgba(18, 38, 63, 0.1) !important;
        border-radius: 5px;
        text-align: center;

        &__image {
            background: #7367f0;
            width: 90px;
            height: 90px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        &__count {
            margin-top: 25px;

            p {
                &:first-child {
                    font-size: 24px;
                    font-weight: 600;
                    color: #34495e;
                }

                font-size: 12px;
                color: #5b6e88;

            }
        }
    }
}

.card {
    padding: 20px;
    background-color: #fff;

    @include sm {
        padding: 10px;
    }

    @include md {
        padding: 10px;
    }

    h6 {
        font-size: 18px;
        font-weight: 500;
        color: #34495e;
        line-height: 1.4;
        margin-bottom: 15px;
    }
}

.chart-container {
    display: flex;
    gap: 20px;

    @include sm {
        flex-direction: column;
    }

    @include md {
        flex-direction: column;
    }

    @include lg {
        flex-direction: column;
    }
}

.bottom-chart {
    flex: 1;
    height: 500px;

    @include sm {
        margin-top: 20px;
    }

    @include md {
        margin-top: 20px;
    }
}